$mon-bleu-dark: #592F16; 
$mon-gris-light: #DCE4F2; 

$primary: $mon-bleu-dark;
$secondary: $mon-gris-light;

@import "bootstrap/scss/bootstrap";
.lightZone{
    background-color: #DCE4F2;
    color: #592F16;
}

.darkZone{
    background-color: #592F16;
    color: #DCE4F2;
}

.lightZone h1{
    border-bottom:2px solid #592F16;
    font-size: 38px;
}



.container{
    border: 2px solid #592F16;
}

header span{
    font-size: 38px;
    font-family: 'sansation', serif;
}


